<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/page.css" rel="stylesheet">
  <title>Data Science</title>
</head>

<body>
<nav> 
  <h1>Sistema de analise de dados</h1>
  <ul>
    <li>Analise simples</li>
    <li>Inigths</li>
     {% for dom in Dominios %}
          <li> Valor {{dom}} </li>
     {% endfor %}
    <li><label>Procurar</label> <input type="text"> <button>Ok</button> </li>
  </ul>
</nav>

<div id="page">
  <div class="DataBox">
    <h1>Meus dados</h1>
    <hr/>
    {{Analise |safe }}
  </div>

</div>


<footer>
  Projeto criado por Felipe Catão 2023
  <a href="">Aprenda a contribuir este projeto com o GitHub!</a>
</footer>

<script type="text/javascript" src="./js/data.json"></script>
<script src="./js/main.js" type="module"></script>
</body>

</html>